/* Mobile */
@media screen and (max-width: 576px) {
  .preloader {
    .preloader-logo {
      font-size: 1.5rem;
    }
  }

  header {
    .wrapper {
      padding: 15px 15px 0;

      .header-logo {
        .logo {
          font-size: 1.8rem;
        }
      }

      .bm-burger-button {
        right: 4.4% !important;
        top: 3.5%;
      }
    }
  }

  .hero {
    .hero-content {
      .hero-title {
        font-size: 3rem;
      }
    }
  }

  .about-me {
    .about-me-left {
      padding: 0 15px;

      .about-me-title {
        font-size: 1.5rem;
      }

      p {
        font-size: .9rem;
      }
    }
  }

  .portfolio {
    .portfolio-right {
      padding: 0 15px;

      .portfolio-title {
        font-size: 1.5rem;
      }

      p {
        font-size: .9rem;
      }
    }
  }

  .slider-video {
    padding-top: 100px;
    padding-bottom: 0;
    
    .item {
      iframe {
        width: 100%;
        height: 212px;
      }
    }
  }

  footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {}